<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
    <style>
        i {
            vertical-align: middle;
        }

        .carousel {
            height: 587px;
            border: 1px solid #ECEFF1;
        }

        .carousel .carousel-item > img {
            top: 50%;
            -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%);
            position: relative;
            width: auto;
            max-height: 100%;
            -webkit-transition: border-color .15s linear;
            transition: border-color .15s linear;
        }

        .carousel .indicators .indicator-item {
            border: 1px solid #bababa;
            width: 15px;
            height: 15px;
        }

        .dropify-wrapper {
            padding: 0px;
        }
        div.dropify-preview > div > div > p {
            top: 15px;
        }

        .img-field {
            padding: 0 0.75rem;
        }
    </style>
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script>
        $(document).ready(function(){
            CKEDITOR.replace('descProduct');
            $('.modal').modal(); // todo: 확인 후 삭제

            let processed = false;
            $('#saveForm').submit(function(e){
                if(!processed) {
                    if(e.preventDefault) {
                        e.preventDefault();
                    }
                } else {
                    e.returnValue = false;
                }

                $('#confirmModal').find('h4').text('알림');
                $('#confirmModal').find('p').text('등록 하시겠습니까?');
                $('#confirmModal').find('.confirm').on('click', function(){
                    /**상품 이미지**/
                    $('.dropify-render').each(function(index, item){
                        let $renderImg = $(item).find('img');
                        if($renderImg.length > 0) {
                            let ImageObj = new Image();
                            ImageObj.src = $renderImg.attr('src');
                            let dataURL = imgComn.resizeImage(ImageObj);
                            $('#saveForm').append('<input type="hidden" name="imageList['+ index +'].image" value="'+ dataURL.split(',')[1] +'" />'); // 이미지 데이터
                            $('#saveForm').append('<input type="hidden" name="imageList['+ index +'].imageSize" value="'+ imgComn.stringToBytesFaster(dataURL.split(',')[1]).length +'" />'); // 이미지 크기
                            $('#saveForm').append('<input type="hidden" name="imageList['+ index +'].imageName" value="'+ $(item).siblings('.dropify-infos').find('.dropify-filename-inner').text() +'" />'); // 이미지명
                        }
                    });
                    /**게시여부, 품절여부**/
                    if($('#ynDisplayChk').is(':checked')) $('#saveForm').append('<input type="hidden" id="ynDisplay" name="ynDisplay" value="Y"/>');
                    if($('#ynSoldOutChk').is(':checked')) $('#saveForm').append('<input type="hidden" id="ynSoldOut" name="ynSoldOut" value="Y"/>');

                    processed = true;
                    $('#saveForm').submit();
                })
                $('#confirmModal').modal('open');
            }); // form submit 끝

            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
            });

            let carousel = M.Carousel.getInstance($('.carousel.carousel-slider'));

            // 첨부파일 모듈
            let drEvent = $('.dropify').dropify({
                messages: {
                    'default': '상품사진',
                    'replace': '',
                    'remove':  '삭제',
                    'error':   'error'
                },
                tpl: {
                    wrap:            '<div class="dropify-wrapper"></div>',
                    loader:          '<div class="dropify-loader"></div>',
                    message:         '<div class="dropify-message"><p>{{ default }}</p></div>',
                    preview:         '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"></div></div></div>',
                    filename:        '<p class="dropify-filename"><span class="file-icon"></span><span class="dropify-filename-inner"></span></p>',
                    clearButton:     '<button type="button" class="dropify-clear">{{ remove }}</button>',
                    errorLine:       '<p class="dropify-error">{{ error }}</p>',
                    errorsContainer: ''
                }
            });

            // 파일확장자 에러메세지
            drEvent.on('dropify.error.fileExtension', function(event, element){
                alert('이미지 파일만 업로드 가능합니다. (' + event.currentTarget.dataset.allowedFileExtensions + ')');
            });
            // 첨부파일 삭제 전 동작
            drEvent.on('dropify.beforeClear', function(event, element){
                return confirm("\"" + element.file.name + "\" 파일을 제거하시겠습니까?");
            });
            // 첨부파일 삭제 후 동작
            drEvent.on('dropify.afterClear', function(event, element){
                let targetIndex = $(event.target).data('index');
                $('.carousel-item img').eq(targetIndex).attr('src', '');
            });
            // 첨부파일 로딩 후 동작
            drEvent.on('dropify.fileReady', function(event, element){
                setTimeout(function(){
                    let targetIndex = $(event.target).data('index');
                    let imageSrc = $('.dropify-render').eq(targetIndex).find('img').attr('src')
                    $('.carousel-item img').eq(targetIndex).attr('src', imageSrc); // 카루셀에 이미지 적용
                    carousel.set(targetIndex);
                }, 200); // 이미지소스 생성시간
            });

            $('[name="upper-size"]').on('click', function(e){ // 사이즈 타입 라디오버튼
                $('[name^="sizeList"]').attr('disabled', true);
                $('[name^="sizeList"]').each(function(index, item){
                    $(item).prop('checked', false);
                });

                $(this).parents('td').siblings('td').find('[name^="sizeList"]').attr('disabled', false);
                $(this).parents('td').siblings('td').find('[name^="sizeList"]').each(function(index, item){
                    $(item).prop('checked', true);
                });
            });

            $('[name^="sizeList"]').on('click', function(e){ // 사이즈 타입 체크박스
                if($(this).is(':checked')) {
                    $(this).parents('td').siblings('td').find('[name="upper-size"]').prop('checked', true);
                    $(this).parents('tr').siblings('tr').find('[name^="sizeList"]').attr('disabled', true);
                } else {
                    if($(this).parents('td').siblings('td').find('[name^="sizeList"]:checked').length ==0) {
                        $(this).parents('td').siblings('td').find('[name="upper-size"]').prop('checked', false);
                        $(this).parents('tr').siblings('tr').find('[name^="sizeList"]').attr('disabled', false);
                    }
                }
            });

            setChildCategory($('#parentCategory').val());
            $('#parentCategory').on('change', function(e){
                setChildCategory($(this).val());
            });

        }); // document ready 끝

        function setChildCategory(seqUpper){
            $.ajax({
                url: '/category/childList.do?seqUpper=' + seqUpper,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $('#childCategory').empty();
                    if(data.length > 0) {
                        data.forEach(function(item, index){
                            $('#childCategory').append('<option value="'+ item.seqCategory +'">'+ item.nmCategory +'</option>');
                        });
                    } else {
                        $('#childCategory').append('<option>없음</option>');
                    }
                    let instance = M.FormSelect.init($('#childCategory')); // 셀렉트 컴포넌트 초기화
                },
                error: function(request, status, error){
                    console.log('code : ' + request.status);
                    console.log('message : ' + request.responseText);
                    console.log('error : ' + error);
                }
            });
        }
    </script>
</th:block>

<div layout:fragment="content" >
    <div class="col s12">
        <div class="container">
            <!-- section start -->
            <div class="section">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <!-- form start -->
                                <form id="saveForm" action="/admin/shop/write.do" method="post" >
                                    <div class="row">
                                        <!-- 이미지 슬라이더 -->
                                        <div class="col s12 m6">
                                            <div class="row">
                                                <div class="carousel carousel-slider center" data-indicators="true">
                                                    <div class="carousel-item white-text">
                                                        <img src="" class="responsive-img" alt="">
                                                    </div>
                                                    <div class="carousel-item white-text">
                                                        <img src="" class="responsive-img" alt="">
                                                    </div>
                                                    <div class="carousel-item white-text">
                                                        <img src="" class="responsive-img" alt="">
                                                    </div>
                                                    <div class="carousel-item white-text">
                                                        <img src="" class="responsive-img" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- input 영역 -->
                                        <div class="col s12 m6">
                                            <div class="row">
                                                <div class="col s12 input-field">
                                                    <input id="titleProduct" name="titleProduct" type="text" class="validate">
                                                    <label for="titleProduct">타이틀</label>
                                                    <small class="errorTxt5"></small>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <input id="nmProduct" name="nmProduct" type="text" class="validate" required>
                                                    <label for="nmProduct">모델명</label>
                                                    <small class="errorTxt5"></small>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <input id="colorProduct" name="colorProduct" type="text" class="validate">
                                                    <label for="colorProduct">색상</label>
                                                    <small class="errorTxt5"></small>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <select id="parentCategory">
                                                        <option th:each="categoryDto: ${parentCategoryList}" th:value="${categoryDto.seqCategory}" th:text="${categoryDto.nmCategory}"/>
                                                    </select>
                                                    <label>상품 카테고리1</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <select id="childCategory" name="cateList[0].category.seqCategory" >
                                                    </select>
                                                    <label>상품 카테고리2</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <input id="buyPrice" name="buyPrice" type="number" class="validate">
                                                    <label for="buyPrice">매입가격</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <input id="sellPrice" name="sellPrice" type="number" class="validate">
                                                    <label for="sellPrice">판매가격</label>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <div class="m-0">
                                                        <span>상품 게시여부</span>
                                                        <div class="switch right">
                                                            <label>
                                                                <input checked type="checkbox" id="ynDisplayChk"/>
                                                                <span class="lever"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s6 input-field">
                                                    <div class="m-0">
                                                        <span>품절여부</span>
                                                        <div class="switch right">
                                                            <label>
                                                                <input type="checkbox" id="ynSoldOutChk">
                                                                <span class="lever"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s3 m3 l3 input-field img-field">
                                                    <input type="file" id="input-file-now1" class="dropify" data-height="100" data-allowed-file-extensions="png jpg jpeg gif bmp" data-index="0" data-max-file-size-preview="10M"/>
                                                </div>
                                                <div class="col s3 m3 l3 input-field img-field">
                                                    <input type="file" id="input-file-now2" class="dropify" data-height="100" data-allowed-file-extensions="png jpg jpeg gif bmp" data-index="1" data-max-file-size-preview="10M"/>
                                                </div>
                                                <div class="col s3 m3 l3 input-field img-field">
                                                    <input type="file" id="input-file-now3" class="dropify" data-height="100" data-allowed-file-extensions="png jpg jpeg gif bmp" data-index="2" data-max-file-size-preview="10M"/>
                                                </div>
                                                <div class="col s3 m3 l3 input-field img-field">
                                                    <input type="file" id="input-file-now4" class="dropify" data-height="100" data-allowed-file-extensions="png jpg jpeg gif bmp" data-index="3" data-max-file-size-preview="10M"/>
                                                </div>
                                                <div class="col s12 input-field">
                                                    <button type="button" class="btn indigo modal-trigger" href="#sizeModal">사이즈 타입 선택</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 에디터 영역 -->
                                        <div class="col s12">
                                            <div class="input-field">
                                                <textarea name="descProduct"></textarea>
                                            </div>
                                        </div>
                                        <!-- 사이즈선택 모달 -->
                                        <div id="sizeModal" class="modal">
                                            <div class="modal-content">
                                                <i class="material-icons modal-close" style="float: right;">close</i>
                                                <h4>사이즈 타입 선택</h4>
                                                <div class="col s12">
                                                    <table class="mt-1">
                                                        <thead>
                                                        <tr>
                                                            <th>사이즈 타입</th>
                                                            <th colspan="100%" style="text-align: center;">사이즈 선택</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="upperSizeDto : ${upperSizeList}">
                                                            <td>
                                                                <p class="mb-1">
                                                                    <label>
                                                                        <input name="upper-size" type="radio" />
                                                                        <span th:text="${upperSizeDto.nmSize}"></span>
                                                                    </label>
                                                                </p>
                                                            </td>
                                                            <td th:each="sizeDto, index : ${upperSizeDto.subSizeList}">
                                                                <label>
                                                                    <input type="checkbox" th:name="'sizeList[' + ${index.index} + '].size.seqSize'" th:value="${sizeDto.seqSize}" />
                                                                    <span th:text="${sizeDto.nmSize}"></span>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 버튼 영역 -->
                                        <div class="col s12 display-flex justify-content-end mt-1">
                                            <button type="submit" class="btn indigo" style="margin-right: 1rem;">등록</button>
                                            <button type="button" class="btn btn-light">취소</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- form ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section edit ends -->
        </div>
    </div>
</div>
</html>
