<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>김포지벤</title>
    <!--todo: 파비콘 변경-->
    <link rel="apple-touch-icon" href="/static/image/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon/favicon-32x32.png">

    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/select2-materialize.css">
    <!-- END: VENDOR CSS-->



    <!-- common CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/lib/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/style-horizontal.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/designTemplate/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">


    <!-- page CSS -->
    <th:block layout:fragment="css"></th:block>

    <!-- common JS-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/calendar.js"></script>

    <!-- page JS -->
    <th:block layout:fragment="script"></th:block>




</head>

</html>