<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
    <div class="container">
        <div class="row">
            <div class="col l6 s6">
                <h5 class="white-text">Company GPSafety</h5>
                <p class="grey-text text-lighten-4">김포시 하성면 하성로 389 TEL 031-983-4336 <br/> Open/Close - Am 9:00 ~ Pm 20:00<br/> 대표이사 심정우</p>


            </div>
            <div class="col l s6">
                <h5 class="white-text">Partners</h5>


                    <a class="white-text" target="_blank" href="https://zibengimpo.com/" style="padding-right: 2px;">
                        <img src="../../static/image/kimpo-logo.PNG" width="120px;"></a>
                    <a class="white-text" target="_blank" href="http://xn--4k0by2zsxcnc793jvyb.nasoft.kr/" style="padding-right: 2px;">
                        <img src="../../static/image/kimpo-logo2.PNG" width="130px;"></a>
                    <a class="white-text" target="_blank" href="https://open.kakao.com/o/shlTafDd" style="padding-right: 2px;">
                        <img src="../../static/image/kakao-logo3.jpg" width="41px;"></a>
                </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>&copy; 2021 <a href="#1">N&S</a> All rights reserved.</span>
<!--            <span class="right hide-on-small-only">Design and Developed by <a href="#1">N&J</a></span>-->
        </div>
    </div>
</footer>

</html>