<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container">
            <span>&copy; 2020 <a href="#1">N&J</a> All rights reserved.</span>
            <span class="right hide-on-small-only">Design and Developed by <a href="#1">N&J</a></span></div>
    </div>
</footer>

</html>