<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="headerFragment" class="page-topbar" id="header">
    <script type="text/javascript">
        function naverLogout(){
            let win = window.open('https://nid.naver.com/nidlogin.logout', 'width=400,height=400', '_blank');
            setTimeout(function(){
                win.close();
                location.href = '/logout';
            },300);
        }
    </script>
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a class="brand-logo darken-1" href="/">
                                <span class="logo-text hide-on-med-and-down">GPSafety</span>
                            </a>
                        </h1>
                    </li>
                </ul>
                <ul class="navbar-list right">
                    <li>
                        <a class="waves-effect waves-block waves-light" href="/shop/cartList.do">
                            <i class="material-icons">shopping_cart<small class="notification-badge orange accent-3" style="display: none;" id="cartCount">0</small></i>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown" sec:authorize="isAuthenticated()">
                            <i class="material-icons">account_circle</i>
                        </a>
                        <a class="waves-effect waves-block waves-light" href="/oauth2/authorization/naver" sec:authorize="!isAuthenticated()">
                            <i class="material-icons-outlined">login</i>
                        </a>
                    </li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown" sec:authorize="isAuthenticated()">
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">face</i>[[${session.user.name}]] 님</a></li>
                    <li><a class="grey-text text-darken-1" href="/order/list.do"><i class="material-icons">receipt</i> 주문내역</a></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">live_help</i> Help</a></li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-1" onclick="naverLogout();"><i class="material-icons-outlined">logout</i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- BEGIN: Horizontal nav start-->
        <nav class="white hide-on-med-and-down" id="horizontal-nav">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
                    <li>
                        <a class="dropdown-menu" href="#" data-target="formsTables">
                            <i class="material-icons">business</i>
                            <span><span class="dropdown-title" data-i18n="Menu levels">회사소개</span><i class="material-icons right">keyboard_arrow_down</i></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables">
                            <li data-menu=""><a href="#"><span data-i18n="Second level 1">매장소개</span></a>
                            </li>
                            <li data-menu=""><a href="#"><span data-i18n="Second level 2">연혁</span></a>
                            </li>
                            <li data-menu=""><a href="/contents/location.do"><span data-i18n="Second level 4">회사위치</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a class="dropdown-menu" href="Javascript:void(0)" data-target="formsTables2">
                            <i class="material-icons">store</i>
                            <span><span class="dropdown-title" data-i18n="제품소개">제품소개</span><i class="material-icons right">keyboard_arrow_down</i></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables2">
                            <li data-menu=""><a href="/shop/list.do"><span data-i18n="전체">전체</span></a></li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdownSub-menu" href="Javascript:void(0)" data-target="upperCategory-1"><span data-i18n="춘하복">춘하복</span><i class="material-icons right">chevron_right</i></a>
                                <ul class="dropdown-content dropdown-horizontal-list" id="upperCategory-1">
                                    <li data-menu=""><a href="/shop/list.do?seqUpperCategory=1"><span data-i18n="전체">전체</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=6"><span data-i18n="점퍼">점퍼</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=7"><span data-i18n="바지">바지</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=8"><span data-i18n="상하세트">상하세트</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=9"><span data-i18n="제전복">제전복</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=10"><span data-i18n="조끼">조끼</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=11"><span data-i18n="티셔츠">티셔츠</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=12"><span data-i18n="셔츠">셔츠</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=13"><span data-i18n="경비복">경비복</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=14"><span data-i18n="정비복">정비복</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=15"><span data-i18n="악세사리">악세사리</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdownSub-menu" href="Javascript:void(0)" data-target="upperCategory-2"><span data-i18n="추동복">추동복</span><i class="material-icons right">chevron_right</i></a>
                                <ul class="dropdown-content dropdown-horizontal-list" id="upperCategory-2">
                                    <li data-menu=""><a href="/shop/list.do?seqUpperCategory=2"><span data-i18n="전체">전체</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=16"><span data-i18n="점퍼">점퍼</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=17"><span data-i18n="바지">바지</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=18"><span data-i18n="상하세트">상하세트</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=19"><span data-i18n="파카">파카</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=20"><span data-i18n="조끼">조끼</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=21"><span data-i18n="티셔츠">티셔츠</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=22"><span data-i18n="셔츠">셔츠</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=23"><span data-i18n="경비복">경비복</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=24"><span data-i18n="정비복">정비복</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=25"><span data-i18n="악세사리">악세사리</span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdownSub-menu" href="Javascript:void(0)" data-target="upperCategory-3"><span data-i18n="안전화">안전화</span><i class="material-icons right">chevron_right</i></a>
                                <ul class="dropdown-content dropdown-horizontal-list" id="upperCategory-3">
                                    <li data-menu=""><a href="/shop/list.do?seqUpperCategory=3"><span data-i18n="전체">전체</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=26"><span data-i18n="4인치 고급형">4인치 고급형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=27"><span data-i18n="4인치 일반형">4인치 일반형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=28"><span data-i18n="5인치 고급형">5인치 고급형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=29"><span data-i18n="6인치 고급형">6인치 고급형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=30"><span data-i18n="6인치 일반형">6인치 일반형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=31"><span data-i18n="8인치 일반형">8인치 일반형</span></a></li>
                                    <li data-menu=""><a href="/shop/list.do?seqCategory=32"><span data-i18n="방한화">방한화</span></a></li>
                                </ul>
                            </li>
                            <li data-menu=""><a href="/shop/list.do?seqUpperCategory=4"><span data-i18n="건강화">건강화</span></a></li>
                            <li data-menu=""><a href="/shop/list.do?seqUpperCategory=5"><span data-i18n="일반용품">일반용품</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="formsTables3">
<!--                            <i class="material-icons">campaign</i>-->
                            <i class="material-icons">announcement</i>
                            <span><a href="/customer/noticeList.do"><span class="dropdown-title" data-i18n="Menu levels">공지사항</span></a></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables3">
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="formsTables4">
                            <i class="material-icons">help_outline</i>
                            <span><a href="/customer/faqList.do"><span class="dropdown-title" data-i18n="Menu levels">FAQ</span></a></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables4">
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="formsTables5">
                            <i class="material-icons">question_answer</i>
                            <span><a href="/customer/qnaList.do"><span class="dropdown-title" data-i18n="Menu levels">Q&A</span></a></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables5">
                        </ul>
                    </li>

                    <li th:if="${session.user?.userRole == 'SUPERADMIN'}">
                        <a class="dropdown-menu" href="#" data-target="formsTables6">
                            <i class="material-icons">build</i>
                            <span><span class="dropdown-title" data-i18n="Menu levels">작업일보</span><i class="material-icons right">keyboard_arrow_down</i></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables6">
                            <li data-menu=""><a href="/admin/work/jasuList.do"><span data-i18n="Second level 1">자수작업</span></a>
                            </li>
                            <li data-menu=""><a href="/admin/work/wanjangList.do"><span data-i18n="Second level 2">완장작업</span></a>
                            </li>
                        </ul>
                    </li>

                    <li th:if="${session.user?.userRole == 'SUPERADMIN'}">
                        <a class="dropdown-menu" href="#" data-target="formsTables7">
                            <i class="material-icons">settings</i>
                            <span><span class="dropdown-title" data-i18n="제품관리">제품관리</span><i class="material-icons right">keyboard_arrow_down</i></span>
                        </a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables7">
                            <li data-menu=""><a href="/admin/shop/write.do"><span data-i18n="제품등록">제품등록</span></a></li>
                            <li data-menu=""><a href="/admin/shop/list.do"><span data-i18n="제품목록">제품목록</span></a></li>
                            <li data-menu=""><a href="/admin/order/list.do"><span data-i18n="주문관리">주문관리</span></a></li>
                        </ul>
                    </li>

                </ul>
                <!-- END: Horizontal nav start-->
            </div>
        </nav>
    </div>

    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-fixed hide-on-large-only">
        <div class="brand-sidebar sidenav-light"></div>
        <ul style="background-color: #c7cbe4" class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed hide-on-large-only menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
            <li class="navigation-header"><a style="font-size: 20px; color: #0d47a1" class="navigation-header-text">GPSafety </a>

            </li>
            <li class="bold" style="color: #fff3e0">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">business</i><span class="menu-title" data-i18n="Menu levels">회사소개</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li><a href="#"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">매장소개</span></a>
                        </li>
                        <li><a href="#"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">연혁</span></a>
                        </li>
                        <li><a href="/contents/location.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">회사위치</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="bold">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">store</i><span class="menu-title" data-i18n="Menu levels">제품소개</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li><a href="/shop/list.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="전체">전체</span></a></li>
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan" href="#"><i class="material-icons">radio_button_unchecked</i><span data-i18n="춘하복">춘하복</span></a>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li><a href="/shop/list.do?seqUpperCategory=1"><i class="material-icons"></i><span data-i18n="전체">전체</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=6"><i class="material-icons"></i><span data-i18n="점퍼점퍼">점퍼</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=7"><i class="material-icons"></i><span data-i18n="바지">바지</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=8"><i class="material-icons"></i><span data-i18n="상하세트">상하세트</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=9"><i class="material-icons"></i><span data-i18n="제전복">제전복</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=10"><i class="material-icons"></i><span data-i18n="조끼">조끼</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=11"><i class="material-icons"></i><span data-i18n="티셔츠">티셔츠</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=12"><i class="material-icons"></i><span data-i18n="셔츠">셔츠</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=13"><i class="material-icons"></i><span data-i18n="경비복">경비복</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=14"><i class="material-icons"></i><span data-i18n="정비복">정비복</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=15"><i class="material-icons"></i><span data-i18n="악세사리">악세사리</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan" href="#"><i class="material-icons">radio_button_unchecked</i><span data-i18n="추동복">추동복</span></a>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li><a href="/shop/list.do?seqUpperCategory=2"><i class="material-icons"></i><span data-i18n="전체">전체</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=16"><i class="material-icons"></i><span data-i18n="점퍼점퍼">점퍼</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=17"><i class="material-icons"></i><span data-i18n="바지">바지</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=18"><i class="material-icons"></i><span data-i18n="상하세트">상하세트</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=19"><i class="material-icons"></i><span data-i18n="제전복">파카</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=20"><i class="material-icons"></i><span data-i18n="조끼">조끼</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=21"><i class="material-icons"></i><span data-i18n="티셔츠">티셔츠</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=22"><i class="material-icons"></i><span data-i18n="셔츠">셔츠</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=23"><i class="material-icons"></i><span data-i18n="경비복">경비복</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=24"><i class="material-icons"></i><span data-i18n="정비복">정비복</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=25"><i class="material-icons"></i><span data-i18n="악세사리">악세사리</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect waves-cyan" href="#"><i class="material-icons">radio_button_unchecked</i><span data-i18n="안전화">안전화</span></a>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li><a href="/shop/list.do?seqUpperCategory=3"><i class="material-icons"></i><span data-i18n="전체">전체</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=26"><i class="material-icons"></i><span data-i18n="4인치 고급형">4인치 고급형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=27"><i class="material-icons"></i><span data-i18n="4인치 일반형">4인치 일반형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=28"><i class="material-icons"></i><span data-i18n="5인치 고급형">5인치 고급형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=29"><i class="material-icons"></i><span data-i18n="6인치 고급형">6인치 고급형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=30"><i class="material-icons"></i><span data-i18n="6인치 일반형">6인치 일반형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=31"><i class="material-icons"></i><span data-i18n="8인치 일반형">8인치 일반형</span></a></li>
                                    <li><a href="/shop/list.do?seqCategory=32"><i class="material-icons"></i><span data-i18n="방한화">방한화</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="/shop/list.do?seqUpperCategory=4"><i class="material-icons">radio_button_unchecked</i><span data-i18n="건강화">건강화</span></a></li>
                        <li><a href="/shop/list.do?seqUpperCategory=5"><i class="material-icons">radio_button_unchecked</i><span data-i18n="일반용품">일반용품</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="bold">
                <a class="waves-effect waves-cyan " href="/customer/noticeList.do"><i class="material-icons">announcement</i><span class="menu-title">공지사항</span></a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-cyan " href="/customer/faqList.do"><i class="material-icons">help_outline</i><span class="menu-title">FAQ</span></a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-cyan " href="#"><i class="material-icons">question_answer</i><span class="menu-title">Q&A</span></a>
            </li>
            <li class="bold" th:if="${session.user?.userRole == 'SUPERADMIN'}">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">build</i><span class="menu-title" data-i18n="작업일보">작업일보</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li data-menu=""><a href="/admin/work/jasuList.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="자수작업">자수작업</span></a></li>
                        <li data-menu=""><a href="/admin/work/wanjangList.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="완장작업">완장작업</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="bold" th:if="${session.user?.userRole == 'SUPERADMIN'}">
                <a class="collapsible-header waves-effect waves-cyan " href="#"><i class="material-icons">settings</i><span class="menu-title" data-i18n="제품관리">제품관리</span></a>
                <div class="collapsible-body">
                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                        <li data-menu=""><a href="/admin/shop/write.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="제품등록">제품등록</span></a></li>
                        <li data-menu=""><a href="/admin/shop/list.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="제품목록">제품목록</span></a></li>
                        <li data-menu=""><a href="/admin/order/list.do"><i class="material-icons">radio_button_unchecked</i><span data-i18n="주문관리">주문관리</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="navigation-background"></div><a class="sidenav-trigger btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
    </aside>
    <!-- END: SideNav-->

    <!-- alert 모달 -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">확인</a>
        </div>
    </div>

    <!-- 이미지뷰 모달 -->
    <div id="imageModal" class="modal" style="width: 90%;">
        <div class="img-container">
            <div class="modal-slide" style="margin-bottom: 0px; background-image: url('/static/image/bike-sunset.jpg'); background-size: contain;">
                <div id="numbertext" class="numbertext"></div>
                <i class="material-icons modal-close" style="float: right;">close</i>
            </div>
            <a class="prev">❮</a>
            <a class="next">❯</a>
        </div>
    </div>

    <!-- confirm 모달-->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat cancel">취소</a>
            <a class="modal-close waves-effect waves-green btn-flat confirm">확인</a>
        </div>
    </div>

    <!--  로딩 circle  -->
    <div class="preloader-wrapper small active loading-circle" id="loading-circle" style="display: none;">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>

    <!--  로딩 overlay  -->
    <div class="loading-overlay" id="loading-overlay"></div>
</header>
</html>