<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="headerFragment" class="page-topbar" id="header">
    <script type="text/javascript">
        let modalStack = [];
        $(document).ready(function() {
            $('#alertModal').modal({
                onOpenEnd: function(e){
                    let modalId = $(this).attr('id');
                    if(location.href.split('#').pop() != modalId) {
                        window.history.pushState({}, '', location.href + '#' + $(this).attr('id'));
                    }
                    modalStack.push(modalId);
                },
                onCloseStart: function(e){
                    if(location.href.split('#').pop() == $(this).attr('id')) {
                        window.history.back();
                    }
                },
                 onCloseEnd: function(e) {
                    $(this).find('h4').text('');
                    $(this).find('p').text('');
                    modalStack.pop();
                 }
            });

            $('#imageModal').modal({
                onOpenStart: function(e) {
                    let modalId = $(this).attr('id');
                    if(location.href.split('#').pop() != modalId) {
                        window.history.pushState({}, '', location.href + '#' + $(this).attr('id'));
                    }
                    modalStack.push(modalId);

                    // 이미지 업로드 로직
                    let imgTags = $('.slide-img');
                    let selectedImg = $('.slide-img:hover');
                    let imgIndex = imgTags.index(selectedImg);
                    let imgSrc = selectedImg.css('background-image');

                    // 클릭한 이미지
                    if(typeof(imgSrc) != "undefined") {
                        imgSrc = imgSrc.replace('url(','').replace(')','').replace(/\"/gi, "");
                        $('.modal-slide').eq(0).css({'background-image' : 'url('+ imgSrc +')'});
                    }
                    $('#imageModal').find('#numbertext').text((imgIndex+1) + '/' + imgTags.length);

                    // 이미지 슬라이드효과
                    $('#imageModal').find('.prev').on('click', function(){
                        if(imgIndex <= 0) { // 맨처음 이미지일 때
                            imgIndex = imgTags.length-1;
                        } else {
                            imgIndex--;
                        }
                        imgSrc = imgTags.eq(imgIndex).css('background-image');
                        imgSrc = imgSrc.replace('url(','').replace(')','').replace(/\"/gi, "");
                        $('.modal-slide').eq(0).css({'background-image' : 'url('+ imgSrc +')'});
                        $('#imageModal').find('#numbertext').text((imgIndex+1) + '/' + imgTags.length);
                    });
                    $('#imageModal').find('.next').on('click', function(){
                        if(imgIndex >= imgTags.length-1) { // 마지막 이미지일 때
                            imgIndex = 0;
                        } else {
                            imgIndex++;
                        }
                        imgSrc = imgTags.eq(imgIndex).css('background-image');
                        imgSrc = imgSrc.replace('url(','').replace(')','').replace(/\"/gi, "");
                        $('.modal-slide').eq(0).css({'background-image' : 'url('+ imgSrc +')'});
                        $('#imageModal').find('#numbertext').text((imgIndex+1) + '/' + imgTags.length);
                    });
                },
                onCloseStart: function(e){
                    if(location.href.split('#').pop() == $(this).attr('id')) {
                        window.history.back();
                    }
                },
                onCloseEnd: function(e) {
                    $(this).find('#numbertext').text('');
                    $(this).find('.prev').off('click');
                    $(this).find('.next').off('click');
                    modalStack.pop();
                 }
            });

            $('#confirmModal').modal({
                onOpenEnd: function(e){
                    let modalId = $(this).attr('id');
                    if(location.href.split('#').pop() != modalId) {
                        window.history.pushState({}, '', location.href + '#' + $(this).attr('id'));
                    }
                    modalStack.push(modalId);
                },
                onCloseStart: function(e){
                    if(location.href.split('#').pop() == $(this).attr('id')) {
                        window.history.back();
                    }
                },
                 onCloseEnd: function(e) {
                    $(this).find('h4').text('');
                    $(this).find('p').text('');
                    $(this).find('.modal-close').off('click');
                    modalStack.pop();
                 }
            });

            window.onpopstate = history.onpushstate = function(e) {
                console.info('뒤로가기 감지 : ' + e);
                if(modalStack.length > 0) {
                    let currentModal = modalStack[modalStack.length-1];
                    M.Modal.getInstance($('#'+currentModal)).close();
                }
            }
        });
    </script>

    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="index.html"><img src="../../../app-assets/images/logo/materialize-logo.png" alt="materialize logo"><span class="logo-text hide-on-med-and-down">Materialize</span></a></h1>
                    </li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
                    <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize" data-search="starter-kit-list">
                    <ul class="search-list collection display-none"></ul>
                </div>
                <ul class="navbar-list right">
                    <li class="dropdown-language"><a class="waves-effect waves-block waves-light translation-button" href="javascript:void(0);" data-target="translation-dropdown"><span class="flag-icon flag-icon-gb"></span></a></li>
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan </i></a></li>
                    <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge orange accent-3">5</small></i></a></li>
                    <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="../../../app-assets/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a></li>
                    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right"><i class="material-icons">format_indent_increase</i></a></li>
                </ul>
                <!-- translation-button-->
                <ul class="dropdown-content" id="translation-dropdown">
                    <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                    <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                    <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></li>
                    <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></li>
                </ul>
                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                        <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
                    </li>
                    <li class="divider"></li>
                    <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                        <time class="media-meta grey-text text-darken-2" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                        <time class="media-meta grey-text text-darken-2" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                        <time class="media-meta grey-text text-darken-2" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                        <time class="media-meta grey-text text-darken-2" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                        <time class="media-meta grey-text text-darken-2" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown">
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">face</i> Profile</a></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">settings</i> Settings</a></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">live_help</i> Help</a></li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">lock_outline</i> Lock</a></li>
                    <li><a class="grey-text text-darken-1" href="#"><i class="material-icons">keyboard_tab</i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- BEGIN: Horizontal nav start-->
        <nav class="white hide-on-med-and-down" id="horizontal-nav">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
                    <li class="active"><a href="page-blank.html"><i class="material-icons">pages</i><span data-i18n="Blank Page">Blank Page</span></a></li>
                    <li><a class="dropdown-menu" href="#" data-target="formsTables"><i class="material-icons">photo_filter</i><span><span class="dropdown-title" data-i18n="Menu levels">Menu levels</span><i class="material-icons right">keyboard_arrow_down</i></span></a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="formsTables">
                            <li data-menu=""><a href="#"><span data-i18n="Second level 1">Second level 1</span></a>
                            </li>
                            <li data-menu=""><a href="#"><span data-i18n="Second level 2">Second level 2</span></a>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdownSub-menu" href="#" data-target="thirdDropdown"><span data-i18n="Second level 3">Second level 3</span><i class="material-icons right">chevron_right</i></a>
                                <ul class="dropdown-content dropdown-horizontal-list" id="thirdDropdown">
                                    <li data-menu=""><a href="#"><span data-i18n="Child 1">Child 1</span></a>
                                    </li>
                                    <li data-menu=""><a href="#"><span data-i18n="Child 2">Child 2</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="https://pixinvent.com/materialize-material-design-admin-template/documentation/" target="_blank"><i class="material-icons">import_contacts</i><span data-i18n="Documentation">Documentation</span></a></li>
                    <li><a href="https://pixinvent.ticksy.com/" target="_blank"><i class="material-icons">help_outline</i><span data-i18n="Support">Support</span></a></li>
                </ul>
                <!-- END: Horizontal nav start-->
            </div>
        </nav>
    </div>
<!--    <ul class="display-none" id="default-search-main">
        <li class="auto-suggestion-title"><a class="collection-item" href="#">
            <h6 class="search-title">FILES</h6>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img src="../../../app-assets/images/icon/pdf-image.png" width="24" height="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">Two new item submitted</span><small class="grey-text">Marketing Manager</small></div>
                </div>
                <div class="status"><small class="grey-text">17kb</small></div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img src="../../../app-assets/images/icon/doc-image.png" width="24" height="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">52 Doc file Generator</span><small class="grey-text">FontEnd Developer</small></div>
                </div>
                <div class="status"><small class="grey-text">550kb</small></div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img src="../../../app-assets/images/icon/xls-image.png" width="24" height="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">25 Xls File Uploaded</span><small class="grey-text">Digital Marketing Manager</small></div>
                </div>
                <div class="status"><small class="grey-text">20kb</small></div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img src="../../../app-assets/images/icon/jpg-image.png" width="24" height="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">Anna Strong</span><small class="grey-text">Web Designer</small></div>
                </div>
                <div class="status"><small class="grey-text">37kb</small></div>
            </div>
        </a></li>
        <li class="auto-suggestion-title"><a class="collection-item" href="#">
            <h6 class="search-title">MEMBERS</h6>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img class="circle" src="../../../app-assets/images/avatar/avatar-7.png" width="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">John Doe</span><small class="grey-text">UI designer</small></div>
                </div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img class="circle" src="../../../app-assets/images/avatar/avatar-8.png" width="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">Michal Clark</span><small class="grey-text">FontEnd Developer</small></div>
                </div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img class="circle" src="../../../app-assets/images/avatar/avatar-10.png" width="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">Milena Gibson</span><small class="grey-text">Digital Marketing</small></div>
                </div>
            </div>
        </a></li>
        <li class="auto-suggestion"><a class="collection-item" href="#">
            <div class="display-flex">
                <div class="display-flex align-item-center flex-grow-1">
                    <div class="avatar"><img class="circle" src="../../../app-assets/images/avatar/avatar-12.png" width="30" alt="sample image"></div>
                    <div class="member-info display-flex flex-column"><span class="black-text">Anna Strong</span><small class="grey-text">Web Designer</small></div>
                </div>
            </div>
        </a></li>
    </ul>
    <ul class="display-none" id="page-search-title">
        <li class="auto-suggestion-title"><a class="collection-item" href="#">
            <h6 class="search-title">PAGES</h6>
        </a></li>
    </ul>
    <ul class="display-none" id="search-not-found">
        <li class="auto-suggestion"><a class="collection-item display-flex align-items-center" href="#"><span class="material-icons">error_outline</span><span class="member-info">No results found.</span></a></li>
    </ul>-->


    <!-- alert 모달 -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">확인</a>
        </div>
    </div>

    <!-- 이미지뷰 모달 -->
    <div id="imageModal" class="modal" style="width: 90%;">
        <div class="img-container">
            <div class="modal-slide" style="margin-bottom: 0px; background-image: url('/static/image/bike-sunset.jpg'); background-size: contain;">
                <div id="numbertext" class="numbertext"></div>
                <i class="material-icons modal-close" style="float: right;">close</i>
            </div>
            <a class="prev">❮</a>
            <a class="next">❯</a>
        </div>
    </div>

    <!-- confirm 모달-->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h4></h4>
            <p></p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat cancel">취소</a>
            <a class="modal-close waves-effect waves-green btn-flat confirm">확인</a>
        </div>
    </div>
</header>
</html>