<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="../layout/default">

<!-- page CSS -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<!-- page 스크립트 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
                $('.timepicker').timepicker({
            twelveHour: true,
            i18n: {
                'AM': '오전',
                'PM': '오후'
            }
        });

             // 수정
            let processed = false;
            $('#updateForm').submit(function(e){
                if(!processed) {
                    if(e.preventDefault) {
                        e.preventDefault();
                    }
                } else {
                    e.returnValue = false;
                }

                $('#confirmModal').find('h4').text('알림');
                $('#confirmModal').find('p').text('수정 하시겠습니까?');
                $('#confirmModal').find('.confirm').on('click', function(){
                    //$('#passwordAs').val(CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse($('#passwordAs').val())));
                    $('#memberInput [name="idAccount"]').each(function(index, item){
                        $(item).attr('name', 'meetMembers['+ index +'].accountDto.idAccount');
                    });
                    processed = true;
                    $('#updateForm').submit();
                })
                $('#confirmModal').modal('open');
            });
        });
    </script>
    <script th:inline="javascript" th:src="@{/static/js/meet.js}"></script>
</th:block>

<div layout:fragment="content" class="container">
    <form id="updateForm" action="/test/meet/update.do" method="post">
        <input type="hidden" name="seqMeet" th:value="${resultDto.seqMeet}" />
        <div class="input-field col s12">
            <input type="text" class="validate titleText" id="titleMeet" name="titleMeet" required="" maxlength="100" placeholder="모임명" th:value="${resultDto.titleMeet}">
        </div>

        <table class="contentsTable">
            <tr>
                <td>
                    <i class="material-icons prefix">event_available</i>
                    <p>모임일자</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="dateMeet" name ="dateMeet" class="datepicker" placeholder="선택" th:value="${resultDto.dateMeet}">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">watch_later</i>
                    <p>시작시간</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="timeStart" name ="timeStart" class="timepicker" placeholder="선택" th:value="${resultDto.timeStart}">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">watch_later</i>
                    <p>종료시간</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="timeEnd" name ="timeEnd" class="timepicker" placeholder="선택" th:value="${resultDto.timeEnd}">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">work</i>
                    <p>연관 프로젝트</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="nameProject" name ="nameProject" class="" placeholder="선택">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">people</i>
                    <p>참여자</p>
                    <div id="memberInput"></div>
                </td>
                <td class="input-field col s12">
                    <th:block th:if="${#lists.isEmpty(resultDto.meetMembers)}">
                        <p class="modal-trigger" href="#memberModal">선택</p>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(resultDto.meetMembers)}">
                        <p class="modal-trigger" href="#memberModal" style="color: rgb(255, 255, 255);">
                            [[${resultDto.meetMembers[0].accountDto.nameAccount}]] 외 [[${#lists.size(resultDto.meetMembers)-1}]]명
                        </p>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">place</i>
                    <p>모임장소</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="locationMeet" name ="locationMeet" class="" placeholder="선택" th:value="${resultDto.locationMeet}">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">vpn_key</i>
                    <p>입장 비밀번호</p>
                </td>
                <td class="input-field col s12">
                    <!--                    <p class="modal-trigger" href="#imageModal">입력</p>-->
<!--                    <input type="password" id="passwordMeet" name ="passwordMeet" class="" placeholder="입력" th:value="${resultDto.passwordMeet}">-->
                </td>
            </tr>
            <tr>
                <td>
                    <i class="material-icons prefix">history</i>
                    <p>이전 모임</p>
                </td>
                <td class="input-field col s12">
                    <input type="text" id="prevMeet" name ="prevMeet" class="" placeholder="선택" th:value="${resultDto.prevMeet}">
                </td>
            </tr>
        </table>

        <div class="row">
            <div class="col s12 right-align">
                <button type="submit" class="waves-effect waves-light btn-small">수정</button>
            </div>
        </div>
    </form>

    <!-- 참여자 선택 모달 -->
    <div id="memberModal" class="slide-modal modal bottom-sheet" data-function-name="meetCommon.setCollectionHeight">
        <div class="modal-content">
            <div class="row">
                <div class="col s3 left-align modal-btn">
                    <p class="modal-close cancel">닫기</p>
                </div>
                <div class="col s6 center-align modal-title">
                    <p>참여자 선택</p>
                </div>
                <!--                <div class="col s3 right-align modal-btn">-->
                <!--                    <p class="modal-close complete">완료</p>-->
                <!--                </div>-->
            </div>
            <div class="row">
                <div class="chips" id="member-chips" style="margin-bottom: 0px;">
                    <div class="chip" tabindex="0" style="float:left; z-index: 1;" th:each="memberList: ${resultDto.meetMembers}"
                         th:data-idaccount="${memberList.accountDto.idAccount}" th:data-nameaccount="${memberList.accountDto.nameAccount}">
                        [[${memberList.accountDto.nameAccount}]]
                        <i class="material-icons close">close</i>
                        <input type="hidden" name="idAccount" th:value="${memberList.accountDto.idAccount}">
                    </div>
                    <form id="memberSearchForm" name="memberSearchForm" action="/test/account/list.do">
                        <input type="text" class="searchKeyword" placeholder="이름 또는 이메일"
                               style="border-bottom: none; margin-bottom: 0px; color: #ffffff; width: 120px; margin-top: 1%;">
                    </form>
                </div>
            </div>
            <p style="color: #828587; font-weight: bold; padding-left: 8px;">검색결과</p>
            <ul class="collection" style="height: 82%; overflow-y: scroll;">
            </ul>
        </div>
    </div>
    <!-- 참여자 선택 모달  -->
</div>
</html>