<!DOCTYPE html>

<div style="max-width:595px; margin:0 auto">

        <table cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto;background-color:#fff;;-webkit-text-size-adjust:100%;text-align:left">
            <tbody>
            <tr><td colspan="3" height="30"></td></tr>
<!--            <tr><td width="21"></td><td>-->
<!--                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">-->
<!--                    <tbody><tr><td style="margin:0;padding:0">-->
<!--                        <a href="http://pay.naver.com/" rel="noreferrer noopener" target="_blank"><img src="http://order.pay.naver.com/static/img/service/front/order/img_ems/npUser/logo.gif" width="51" height="20" alt="N Pay" style="border:0;margin-right:5px;" loading="lazy"></a>-->
<!--                    </td></tr>-->
<!--                    <tr><td height="11"></td></tr>-->
<!--                    </tbody></table>-->
<!--            </td><td width="21"></td></tr>-->

            <tr><td width="21"></td><td>
                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                    <tbody>
                    <tr><td style="font-size:28px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#424240;line-height:34px;vertical-align:top" th:text="${mailHeader}"></td></tr>
                    <tr><td height="13"></td></tr>
                    <tr><td height="22"></td></tr>
                    </tbody></table>
            </td><td width="21"></td></tr>
            <tr><td colspan="3" height="1" style="background:#e5e5e5"></td></tr>
            <tr><td colspan="3" height="26"></td></tr>

            <!-- 주문번호 -->
            <tr><td width="21"></td><td>
                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                    <tbody>
                    <tr>
                        <td width="70" style="padding-bottom:9px;font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;vertical-align:top">고객명</td>
                        <td style="padding-bottom:9px;font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#333;vertical-align:top" th:text="${orderDto.idCustomer}"></td>
                    </tr>
                    <tr>
                        <td width="70" style="padding-bottom:9px;font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;vertical-align:top">주문번호</td>
                        <td style="padding-bottom:7px;font-size:17px;font-family:Helvetica;font-weight:bold">
                            <a style="color:#0288d1;text-decoration:none" rel="noreferrer noopener" th:text="${orderDto.seqOrder}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="70" style="padding-bottom:9px;font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;vertical-align:top">주문일시</td>
                        <td style="padding-bottom:9px;font-size:14px;font-family:Helvetica;color:#333;vertical-align:top" th:text="${#temporals.format(orderDto.dtOrder, 'yyyy-MM-dd HH:mm:ss')}">2021.07.19 10:43</td>
                    </tr>
                    <tr><td colspan="2" height="47"></td></tr>
                    </tbody></table>
            </td><td width="21"></td></tr>
            <!--// 주문번호 -->


            <tr><td width="21"></td><td>
                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                    <tbody>
<!--                    <tr><td height="56"></td></tr>-->
                    <tr><td height="24" style="font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-weight:bold;color:#000;vertical-align:top">
                        주문상품
                    </td></tr>
                    <tr><td height="2" style="background:#424240"></td></tr>
                    <tr><td height="21"></td></tr>


                    <tr><td>
                        <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                            <tbody><tr><td width="72">
                                <a>
                                    <img th:src="${scheme + '://' + serverName + ':' + serverPort
                                    + '/attach/resizeImgView.do?idAttach=' + orderDto.products[0].idMainImg + '&resizeWidth=200'}"
                                         alt="상품이미지" width="58" height="64" style="border:0" loading="lazy">
                                </a>
                            </td><td>
                                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                                    <tbody>

                                    <tr><td style="font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#000;line-height:21px" th:text="${orderDto.products[0].nmProduct + ' (' + orderDto.products[0].nmSize + ') 외 ' + (#lists.size(orderDto.products)-1) + '건'}">
                                    </td></tr>
<!--                                    <tr><td style="font-size:14px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#000;line-height:21px">-->
<!--                                        옵션 : 옵션1: 4LX2개 + 사은품 100ml 3개-->
<!--                                    </td></tr>-->
                                    </tbody></table>
                            </td></tr>
                            <tr><td colspan="2" height="17"></td></tr>
                            </tbody></table>
                    </td></tr>
                    </tbody></table>
            </td><td width="21"></td></tr>
            <!--// 주문상품 -->

            <!-- 최종결제 금액 -->

            <tr><td width="21"></td><td>
                <table cellpadding="0" cellspacing="0" style="width:100%;margin:0;padding:0">
                    <tbody>
                    <tr><td colspan="2" height="1" style="height:2px;background:#424240"></td></tr>
                    <tr><td colspan="2" height="17" style="border-top: 1px dotted #e6e6e6;"></td></tr><tr><td width="45%" style="font-size:16px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-weight:bold;color:#333;line-height:22px">
                        주문금액
                    </td><td style="font-size:16px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-weight:bold;color:#333;text-align:right;line-height:30px">
                        <span style="font-size:30px;font-family:HelveticaNeue;color:#0288d1;vertical-align:top" th:text="${#numbers.formatInteger(orderDto.totalPriceOrder, 0, 'COMMA') + '원'}"></span>
                    </td></tr><tr><td colspan="2" height="17"></td></tr><tr><td colspan="2" height="1" style="background:#424240"></td></tr><tr><td colspan="2" height="29"></td></tr></tbody>
                </table>
            </td><td width="21"></td></tr>
            <!--// 최종결제 금액 -->


<!--            <tr><td align="center" colspan="3">-->
<!--                <div style="display:inline-block;width:278px;max-width:100%;vertical-align:top">-->
<!--                    <table style="table-layout: fixed;width:100%;background:#1ec800" border="0" cellpadding="0" cellspacing="0">-->
<!--                        <tbody><tr><td height="56" style="text-align:center">-->
<!--                            <a href="http://pay.naver.com/" style="display:block;:56px;font-size:18px;color:#fff;text-decoration:none;line-:56px;font-family:'나눔고딕', nanumgothic, '맑은고딕', malgun gothic, '돋움', dotum, helvetica, 'apple sd gothic neo', sans-serif;" rel="noreferrer noopener" target="_blank">네이버페이 홈</a>-->
<!--                        </td></tr>-->
<!--                        </tbody></table>-->
<!--                </div>-->
<!--            </td></tr>-->
<!--            <tr><td colspan="3" height="40"></td></tr>-->

            <!-- footer-->
<!--            <tr><td colspan="3" style="padding-top:26px;padding-left:21px;padding-right:21px;padding-bottom:13px;background:#e5e5e5;font-size:12px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;line-height:17px">-->
<!--                본 메일은 발신전용입니다.<br>-->
<!--                상품의 배송/반품/교환/취소/환불 문의는 판매자에게 문의하시면 더 빠르고 정확한 처리가 가능합니다.<br>-->
<!--                네이버파이낸셜(주)는 결제정보의 중개자 또는 통신판매중개자이며 통신판매의 당사자가 아닙니다.<br>-->
<!--                상품의 주문, 배송, 환불 등과 관련된 의무와 책임은 판매자에게 있습니다.<br>-->
<!--                네이버페이 이용 관련 제안사항이나 불편 신고는 <a href="http://help.pay.naver.com" style="color:#696969;font-weight:bold;text-decoration:underline" rel="noreferrer noopener" target="_blank">고객센터</a>를 이용해 주세요.-->
<!--            </td></tr>-->
<!--            <tr><td colspan="3" style="padding-top:10px;padding-left:21px;padding-right:21px;padding-bottom:13px;background:#e5e5e5;font-size:12px;font-family:'나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;color:#696969;line-height:17px">-->
<!--                <a href="http://pay.naver.com/provision" style="padding-right:10px;color:#696969;text-decoration:none" rel="noreferrer noopener" target="_blank">네이버페이 이용약관</a>  l  <a href="http://order.pay.naver.com/static/files/naverpay.docx" style="padding:0 10px;color:#696969;text-decoration:none" rel="noreferrer noopener" target="_blank">청약철회 등에 관한 사항</a>  l  <a href="http://pay.naver.com/policy/financial" style="padding:0 10px;color:#696969;text-decoration:none" rel="noreferrer noopener" target="_blank">개인정보 처리방침</a>-->
<!--            </td></tr>-->
<!--            <tr><td colspan="3" style="padding-left:21px;padding-right:21px;padding-bottom:57px;background:#e5e5e5;font-size:12px;font-family:Helvetica;color:#696969;line-height:17px">-->
<!--                Copyright ⓒ <strong>NAVER FINANCIAL Corp.</strong> All Rights Reserved.-->
<!--            </td></tr>-->
            <!--// footer-->

            </tbody></table>
    </div>
</div>

</html>